<% content_for :title, "Editing comment" %>

<h1>Editing comment</h1>

<%= render "form", comment: @comment %>

<br>

<div>
  <%= link_to "Mostrar este comentario", @comment %> |
  <%= link_to "Volver a los comentarios", comments_path %>
</div>
