<br>
<br>
<h1 class="my 5">Noticias Rails</h1>
<br>
<br>
<p class="my 5">Las noticias que veremos en este espacio son un relato de acontecimientos actuales que son de interés general y se difunde en los medios de comunicación,
pero tanto como las noticias y comentario, son con un pilar de respeto en todo momento</p>
<br>

<%= link_to "Noticias", new_news_path, class:"btn btn-dark" %>
<br>
<br>
<img src="https://media.licdn.com/dms/image/v2/D4E12AQG5C5BMA2ebrg/article-cover_image-shrink_600_2000/article-cover_image-shrink_600_2000/0/1725364636873?e=2147483647&v=beta&t=p481_PEqTOief3v5Drheqbe0uM6nvHjywVCWfI0PwLM" class="..." alt="...">

